# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Logs
*.log

# Database
*.db

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/

# Hugging Face Cache
.cache/
